@using UsersAndAwardsWEB.Models.ViewModel;
@model UserViewModel

@{
    ViewData["Title"] = "Добавление пользователя";
}





<h1>Добавление пользователя</h1>
<h2>Введите данные нового пользователя</h2>
<form asp-action="AddUser" class="formDIVs">
    <div>
        <label for="firstName">Введите Имя: </label>
        <input class="inputs" asp-for="FirstName" id="firstName" required>
        <span asp-validation-for="FirstName"></span>
    </div>

    <div>
        <label for="lastName">Введите Фамилию: </label>
        <input class="inputs" asp-for="LastName" id="lastName" required>
        <span asp-validation-for="LastName"></span>
    </div>

    <div>
        <label for="birthDate">Введите дату рождения: </label>
        <input class="inputs" asp-for="BirthDate" id="birthDate" required>
        <span asp-validation-for="BirthDate"></span>
    </div>
    <div>
        <button class="btn" type="submit" id="bAdd">Добавить пользователя</button>
    </div>
</form>
