@model Entities.User

@{
    ViewData["Title"] = "Награды пользователя " + Model.FirstName.ToString();
}

<h1>Награды @Model.FirstName</h1>

<table class="table">
    <tr>
        <th>Название награды</th>
        <th>Описание награды</th>
    </tr>

    @foreach (var item in Model.Awards)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Description
            </td>
        </tr>
    }
</table>

<form asp-action="ChangeUser" asp-route-ID="@Model.ID" method="get">
    <button class="btn" type="submit" id="bAdd">Изменить пользователя</button>
</form>

